@charset "UTF-8";

/* Configurações Gerais */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff; /*Declarei da msm cor da imagem, pq a imagem n cobre tudo, o que n cobrir essa cor cobre*/
    background-size: contain;
    background-repeat: no-repeat;
    
}

h1{
    color: white;
    text-shadow: 3px 3px 0px chocolate;
    padding: 10px;
}