@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    max-width: 100vw;
    display:flex;
    flex-flow: row wrap;
    /* flex-direction: row;
    flex-wrap: wrap; */
    justify-content: space-between; 
    align-items: center;
    background-image: linear-gradient(to right, #002992, #3152A4);
}

header>h1 {
    height: 60px;
    padding: 20px;
    font-family: arial,sans-serif;
    font-size: 3em;
    color: white;
}

.title{
    font-family: 'Audiowide', cursive;
}

nav {
    margin: 20px; 
}

nav>a{
    text-decoration: none;
    padding: 14px;
    border: 1px solid rgba(0, 0, 0, 0.459);
    border-radius: 5px; 
    background-color: #4b69b5;
    color: white;
}

a:hover {
    background-color: #0f2354;
    transition: 0.5s;
}



footer{
    max-width: 100vw;
    display: flex;
    flex-flow: row wrap;   
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #002992, #3152A4);
    height: 150px;
}

footer>p{
    font-weight: bolder;
    font-size: 3vw;
    color: rgb(255, 255, 255);
}

footer>section>p{
    margin-top: 3px;
}

footer>section>a{
    text-decoration: none;
    color: black;
    display: flex;
    margin-top: 3px;
}

