@charset "UTF-8";

div.quadrado{
    border: 1px solid black;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(189, 200, 204);
    width: 300px;
    height: 300px;
}

body{
    background-image: url("imagens/wallpaper002.jpg"); /*Imagem de Fundo*/
}

div#q1{
    background-color: skyblue;
}

div#q2{
    background-image: linear-gradient(to bottom, yellow, orange);
}

div#q3{
    background-image: url(imagens/wallpaper001.jpg);
}